<%- include("partials/header") %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Log In</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="" method="">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="Enter a name for the campground">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imageUrl" placeholder="Enter a image Url">
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-lg btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container" style="display: flex;justify-content: center;align-items: center;">
    <a href="/workers">See All Workers</a>
</div>
<div class="container" style="display: flex;justify-content: center;align-items: center;">
    <a href="/dailyentry">Daily attendence</a>
</div>
<%- include("partials/footer") %>