<%- include("partials/header") %>
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">Create a new pluckingtype</h1>
    <div style="width: 30%; margin: 25px auto;">
      <form action="/dailyentry/pluckingtype" method="POST">
        <div class="form-group">
          <input class="form-control" type="number" name="todayPluckingTarget"
            placeholder="Enter todays plucking target">
        </div>
        <div class="form-group">
          <input type="date" name="date" value=<%=date%>>
        </div>
        <div class="form-group">
          <button class="btn btn-default btn-lg btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include("partials/footer") %>